.educationContainer {
    height: auto;
    width: 50vw;
    position: absolute;
    left: 10%;
    top: 20%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid gray;
    border-radius: 10px;
}

.educationHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

    background-color: #212121;
    color: lightgray;
    border-radius: 10px 10px 0px 0px;
}

.educationContent {
    width: 50vw;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.educationStorageDisplay {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.educationStorageImg {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.educationStorageIcon {
    transform: rotate(-25deg);
    border: 3px solid #999999;
    border-radius: 50%;
    padding: 1.5vw;
    filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(219deg) brightness(92%) contrast(84%);
    width: 3vw;
    height: auto;
}

.educationStorageBarContainer {
    width: 75%;
    padding: 0px 20px;
}

.educationStorageExplanation {
    color: #999999;
    margin: 30px 0px;
}

.educationStorageBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0px;
    border-radius: 5px;
    height: 2.5vh;
    border: 1px solid #333333;
    animation: storageBarGrowth .25s ease-in-out;
    cursor: pointer;
}

@keyframes storageBarGrowth {
    0% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}
 
.educationStorageBarParis {
    background-color:#cd3439;
    border-radius: 5px 0px 0px 5px;
    width: 18vw;
    height: 100%;
    position: relative;
}

.educationStorageBarMich {
    background-color: #f8cd47;
    width: 18vw;
    height: 100%;
    position: relative
}

.educationStorageBarRemaining {
    background-color: #666666;
    border-radius: 0px 5px 5px 0px;
    width: 4vw;
    height: 100%;
    position: relative;
}

.educationStorageBarParis:hover, .educationStorageBarMich:hover, .educationStorageBarRemaining:hover {
    box-shadow: 0px 5px 5px rgba(96, 96, 96, 0.5);
    transform: scale(1.05);
    z-index: 2;
    transition: transform ease-out 0.15s;
}

.educationBarElementLabelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.educationBarElementLabel {
    position: absolute;
    top: -6vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    background-color: #999999;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.educationBarElementTitle {
    font-weight: 500;
    font-size: 14px;
}

.educationBarElementSubtitle {
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

.bottomCarat {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999999;
    margin: -10px auto;
}

.educationStorageDetails {
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}