.hidden {
    display: none;
}

.wallpaper {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.dockContainer {
    position: absolute;
    bottom: 2.5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    height: 10vh;
    width: 50vw;

    border-radius: 15px;
    z-index: 10;
}