.terminalContainer {
    position: absolute;
    top: 30%;
    right: 5%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
    background-color: black;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.terminalHeader {
    background-color: #212121;
    color: lightgray;
    font-family: monospace;
    font-size: 0.85vw;
    padding: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
}

.headerButtonContainer {
    display: flex;
    flex-direction: row;
    margin-right: 0.25vw;
}

.closedButton {
    background-color: #dc3c31;
    height: 0.85vw;
    width: 0.85vw;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}

.closedButton:hover {
    background-color: #be3329;
}

.headerButton {
    background-color: #434343;
    height: 0.85vw;
    width: 0.85vw;
    border-radius: 50%;
    margin: 0 5px;
}

.terminalBody {
    color: #00FF00;
    font-size: 0.85vw;
    font-family: monospace;
    padding: 0 10px;
    margin-bottom: 20px;
    overflow: scroll;
}

.inputLine {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.terminalInput {
    font-family: monospace;
    text-decoration: none;
    background-color: transparent;
    caret-color: transparent;
    border: none;
    display: block;
    color: #00FF00;
    animation: blinking 0.75s infinite linear;
}

.terminalInput:focus {
    outline: none;
}

@keyframes blinking {
    0%, 100% {
        border-right : none;
    }

    25%, 75% {
        border-right: 5px solid #00FF00;
    }
}